ul.syntax { list-style-type: none; }
section { display: none; }
section.current { display: block; }

.add { background-color: lightgreen; }
.del {
	background-color: coral;
	text-decoration: line-through;
}
